{
	"ti":"AKDJFHDKJHFKKJNK27_TST",
	"cn":"IONAPIDemo",
	"dt":"3",
	"ci":"KLDJAFKJSHDKAJSDKJASNKDJNSKDNKSAJNDIWQUHFASDADDZWE^ZIUBCKASJNCÖOIAUHS-DCAPSCHAOSIHCOIASCOAISCO",
	"cs":"DKLFNasdlfa<sdi7O(/Zn98zN)(0)ß098b09/B 9*?+nß0nß9nß9nPIPuNoiuOBIUZi/ToVz",
	"iu":"https://mingle-ionapi.eu1.inforcloudsuite.com",
	"pu":"https://mingle-sso.eu1.inforcloudsuite.com:443/AKDJFHDKJHFKKJNK27_TST/as/",
	"oa":"authorization.oauth2",
	"ot":"token.oauth2",
	"or":"revoke_token.oauth2",
	"ev":"V`235234534254320",
	"v":"1.0",
	"saak":"dsjfghvdkustlb8se45v6il76so56v9es5tse954t8se59tse75tb9se87ts9ep8t7se598t7se5bvp8ts7e5v8s7e9t8se57t",
	"sask":"948uvw9n845we59p8w7569bpvw8576bspe9v867ewp9587ew59p87se6p9w865p9es786spe978wep95"
}